/* CSS declarations go here */

.editor {
	padding: 5px;
	outline: 1px dotted #a0a0a0;
}

.editor:focus {
	outline: 1px dashed gray;
}

.editorReference {
	display: inline-block;
	border: 1px solid blue;
	white-space: nowrap;
	background-color: lightblue;
	padding: 2px;
	margin: 1px;
}
