/* CSS declarations go here */

.dropdown-menu > li > span {
display: block;
padding: 3px 20px;
clear: both;
}

.dropdown-menu > li > span a {
font-weight: normal;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
text-decoration: none;
}
.dropdown-menu > li > span:hover,
.dropdown-menu > li > span:focus {
  color: #262626;
  background-color: #f5f5f5;
}


.editor {
	padding: 5px;
	outline: 1px dotted #a0a0a0;
}

.editor:focus {
	outline: 1px dashed gray;
}

.editorReference {
	display: inline-block;
	border: 1px solid blue;
	white-space: nowrap;
	background-color: lightblue;
	padding: 2px;
	margin: 1px;
}

.hierarchical {
	counter-reset: ol0;
}

.hierarchical .section {
	
}

.hierarchical .ul {
	list-style-type: disc;
	padding-left: 40px;
	text-align: left;
}

.hierarchical .ul.indent1 {
	list-style-type: circle;
	padding-left: 80px;
}

.hierarchical .ul.indent2 {
	list-style-type: square;
}

.hierarchical .ol {
	list-style: none;
	padding-left: 40px;
	text-align: left;
}

.hierarchical .ul.indent1, .hierarchical .ol.indent1 {
	padding-left: 80px;
}

.hierarchical .ul.indent2, .hierarchical .ol.indent2 {
	padding-left: 120px;
}

.hierarchical .ol .li:before {
	position: absolute;
	width: 2em;
	margin-left: -2.5em;
	text-align: right;
}

.hierarchical .ol:not(.indent1):not(.indent2) .li:before {
	counter-increment: ol0;
	content: counter(ol0) ".";
	counter-reset: ol1;
}

.hierarchical .ol.indent1 .li:before {
	counter-increment: ol1;
	content: counter(ol1) ".";
	position: absolute;
	counter-reset: ol2;
}

.hierarchical .ol.indent2 .li:before {
	counter-increment: ol2;
	content: counter(ol2) ".";
	position: absolute;
}

.hierarchical .li {
	display: list-item;
}

.datetime {
	display: table;
}

.datetime .datetime-date, .datetime .datetime-time {
	display: table-cell;
	padding: 0 .3em;
}
